.MuiTableCellPts {
    font-weight: bold;
    // background-color: rgba(220, 220, 220, 0.272);
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    border-bottom: none;
    border-top: none;
    text-transform: uppercase;
}

.MuiTableCellRank {
    // font-weight: bold;
    background-color: rgba(220, 220, 220, 0.272);
}

.loading {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
}
