.MuiTableCellPts {
    font-weight: bold;
    // background-color: rgba(220, 220, 220, 0.272);
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    border-bottom: none;
    border-top: none;
    text-transform: uppercase;
}

.MuiTableCellRank {
    // font-weight: bold;
    background-color: rgba(220, 220, 220, 0.272);
}

.MuiTableTopFour {
    // background-image: linear-gradient(140deg, #abd4a123 26%, #e5e6e82d 65%);
    // background-image: linear-gradient(135deg, #6369590e 40%, #a8e89c2a 60%);
    background-image: linear-gradient(135deg, #5f823a0f 40%, #898a870e 60%);
}

.loading {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
}
