.componentContainer {
    margin: auto;
    margin-top: 2vh;
    background: #948e99; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #101717d4, #aeadae); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #949494c0,
        #757575
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    .mvp {
        font-size: small;
        color: white;
    }
    .date {
        color: white;
        display: inline-block;
    }
    .firstRowWrapper {
        width: 100%;
        position: relative;
        .removeBtn {
            position: absolute;
            right: 8px;
            background-color: rgba(170, 43, 43, 0.667);
            border-radius: 5px;
            padding: 1px 6px;
            font-size: smaller;
        }
        .removeBtn:hover {
            background-color: rgba(201, 17, 17, 0.667);
        }
    }
}

.teamWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    font-size: smaller;
    margin: auto;

    .team {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 1px;
        background-color: rgba(189, 101, 101, 0.417);
        color: white;
        width: fit-content;
    }

    .winnerTeam {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 1px;
        background-color: rgba(47, 165, 47, 0.341);
        color: white;
        width: fit-content;
    }
    .teamScore {
        padding: 1px 3px;
        padding-right: 6px;
        font-weight: 600;
    }

    .player {
        margin-left: 4px;
        margin-right: 4px;
        color: white;
    }
}
