.pageContainer {
    // max-width: 200px;
    // margin-left: auto;
    // margin-right: auto;
    // background-color: red;
    // overflow: hidden;
    width: 100%;
    // max-width: 50vw;
}

.formContainer {
    color: black;
    width: 98%;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    .inputWrapper {
        // margin-top: 2vh;
        // display: flex;
        // flex-direction: row;
        padding: 4px;
        display: inline;
        margin-left: 1.5%;
    }

    .addPlayerWrapper {
        display: inline;
    }

    .addPlayer {
        margin-right: 2.6%;
        padding: 1px;
        cursor: pointer;
        font-size: 26px;
        float: right;
    }

    .addPlayerMVP {
        margin-right: 2.6%;
        padding: 1px;
        cursor: pointer;
        font-size: 26px;
        // float: right;
    }

    .players {
        margin: 1px;
        margin-top: 0.4vh;
        margin-bottom: 2vh;
        // background-color: rgba(128, 128, 128, 0.146);
        background-color: rgba(0, 0, 0, 0.509);
        height: 66px;
        width: 96%;
        padding: 3px 6px;
        border-radius: 8px;
        background: #f7f8f8; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2c2c2b, #f7f8f8); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            to right,
            #5c5959,
            #d7d8d8
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: flex;
        flex-wrap: wrap;
    }

    input {
        width: 72%;
        margin-left: 1.8%;
        border-bottom: 1.4px solid rgba(0, 0, 0, 0.745);
        outline: none;
    }
    label {
        margin-left: 0.5%;
        width: 30%;
    }

    .scoreLabel {
        margin-left: 5%;
    }

    .scoreInput {
        width: 15%;
        border: 1px solid rgba(0, 0, 0, 0.372);
        padding: 1px 6px;
        // margin-left: 12vw;
        margin-bottom: 0.6vh;
        border-radius: 8px;
        // box-shadow: 6px 4px 1px 0.3px rgba(0, 0, 0, 0.213);
    }

    .mvpInput {
        width: 66%;
        max-width: 300px;
    }

    .dateInput {
        margin-top: 2vh;
        padding: 5px;
        outline: none;
        border: none;
        background-color: rgba(128, 128, 128, 0.195);
    }

    .submitWrapper {
        text-align: center;
    }
    .submit {
        background-color: rgba(0, 0, 0, 0.709);
        color: white;
        cursor: pointer;
        padding: 6px;
        font-size: 18px;
        margin-top: 3vh;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-right: 5px;
        overflow: hidden;
        width: 98%;
        border-radius: 6px;
    }
}
