$small-screen: 800px;

.headerx {
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.logo {
    margin: auto;
    margin-top: 3vh;
    width: 320px;
}

.firstRowMenuWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 2vh;
}

.logoutWrapper {
    font-size: small;
    position: absolute;
    left: 3%;
    // top: 10.5vh;
    padding: 4px;
    span {
        color: black;
        margin-right: 2.5px;
        &:hover {
            color: rgba(0, 0, 0, 0.8);
            font-weight: 600;
            cursor: pointer;
        }
    }
    .logoutIcon {
        font-size: 16px;
        &:hover {
            color: rgba(0, 0, 0, 0.8);
            cursor: pointer;
        }
    }
}

.infoIconWrapper {
    font-size: small;
    position: absolute;
    right: 3%;
    padding: 4px;
    margin-right: 0.8vw;
    .infoIcon {
        font-size: 26px;
        font-size: 23px;
        &:hover {
            color: rgba(0, 0, 0, 0.8);
            cursor: pointer;
        }
    }
}

.playerAddWrapper {
    font-size: small;
    position: absolute;
    right: 9%;
    padding: 4px;
    margin-right: 0.8vw;
    .infoIcon {
        font-size: 26px;
        font-size: 23px;
        &:hover {
            color: rgba(0, 0, 0, 0.8);
            cursor: pointer;
        }
    }
}

.menuWrapper1 {
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu {
        font: large;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        li {
            text-align: center;
            padding: 2px;
            text-decoration: underline;
            padding-left: 5px;
            padding-right: 5px;
            align-items: center;
            cursor: pointer;
        }
    }
}

.menuWrapper2 {
    color: black;
    text-align: center;
    margin-top: 2.4vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu {
        font: larger;
        display: flex;
        li {
            text-align: center;
            display: inline-block;
            padding: 6px;
            padding-left: 12px;
            padding-right: 12px;
            margin-left: 0.8vw;
            margin-right: 0.8vw;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 8%;
            background-color: rgba(128, 128, 128, 0.189);
            -webkit-transition: 0.6s; /* Safari */
            transition: 0.6s;
            &:hover {
                background-color: rgba(37, 34, 34, 0.731);
                color: white;
            }
        }
        .current {
            background-color: rgb(106, 106, 106, 0.8);
            color: rgb(253, 242, 242);
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 700px) {
    .logo {
        width: 220px;
    }

    .infoIconWrapper {
        right: 1%;
        .infoIcon {
            font-size: 23px;
        }
    }
    .playerAddWrapper {
        .infoIcon {
            font-size: 23px;
        }
    }
}
