$small-screen: 800px;

.headerx {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    // display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    margin: auto;
    margin-top: 3vh;
    // width: 220px;
}

.menuWrapper {
    color: black;
    text-align: center;
    margin-top: 2.4vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu {
        font: larger;
        display: flex;
        li {
            text-align: center;
            display: inline-block;
            padding: 9px;
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 0.6vw;
            margin-right: 0.5vw;
            display: flex;
            align-items: center;
            cursor: pointer;
            // border: 1px solid rgba(0, 0, 0, 0.177);
            border-radius: 8%;
            background-color: rgba(128, 128, 128, 0.189);
            -webkit-transition: 0.6s; /* Safari */
            transition: 0.6s;
            &:hover {
                background-color: rgba(0, 0, 0, 0.731);
                color: white;
            }
        }
    }

    @media screen and (max-width: 700px) {
        .headerx {
            background-color: red;
            // width: 90vw;
            // margin-left: auto;
            // margin-right: auto;
            display: flex !important;
            // justify-content: space-between;
            // align-items: center;
            // margin: 0 auto;
        }
        .logo {
            width: 110px;
        }
    }
}
